<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.honza.jasichinese">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WordsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.development.honza.jasichinese.MainActivity" />
        </activity>
        <activity android:name=".WordShowActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.development.honza.jasichinese.WordsListActivity" />
        </activity>
        <activity android:name=".SwipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.development.honza.jasichinese.MainActivity" />
        </activity>
        <activity android:name=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.development.honza.jasichinese.MainActivity" />
        </activity>
        <activity
            android:name=".db.SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>